<div class="div1Header">


    <div class="div2Header">
        <button type="button" class="btn btn-Primary btnHome" (click)="GotoHome()"><b>Home</b></button>&nbsp;

        <button type="button" class="btn btn-Primary btnHeadCol" (click)="NewLoan()"><b>Create a new Loan</b> </button>&nbsp;
        <button type="button" class="btn btn-Primary btnHeadCol" ><b>User: </b>{{user}} </button>&nbsp;
        <button type="button" class="btn btn-Primary btnHeadCol" ><b>Role: </b>{{role}} </button>&nbsp;
        <button type="submit" class="btn btn-Primary btnHeadCol" (click)="Logout() "><b style="color: red;">Logout</b> </button>
    </div>
</div>